Source: cloud
Section: libs
Priority: extra
Maintainer: Wido den Hollander <wido@widodh.nl>
Build-Depends: debhelper (>= 7), openjdk-6-jdk, tomcat6, libws-commons-util-java, libcommons-codec-java (>= 1.5), libcommons-httpclient-java (>= 3.1), libservlet2.5-java, genisoimage, python-mysqldb, maven3 | maven (>= 3), liblog4j1.2-java (>= 1.2.16)
Standards-Version: 3.8.1
Homepage: http://www.cloudstack.org/

Package: cloud-server
Architecture: any
Depends: openjdk-6-jre, cloud-python (= ${source:Version}), cloud-scripts (= ${source:Version}), cloud-setup (= ${source:Version}), tomcat6, libws-commons-util-java, sysvinit-utils, chkconfig, sudo, jsvc, python-mysqldb, python-paramiko, augeas-tools, genisoimage, cloud-system-iso
Description: CloudStack server library
 The CloudStack management server including the Web UI.
 .
 This used to be three packages, but it is now packaged into one

Package: cloud-scripts
Replaces: cloud-agent-scripts
Architecture: any
Depends: openjdk-6-jre, python, bash, bzip2, gzip, unzip, nfs-common, openssh-client
Description: CloudStack scripts
 This package contains a number of scripts needed for the CloudStack Agent and Management Server.
 Both the CloudStack Agent and Management server depend on this package

Package: cloud-setup
Architecture: any
Depends: openjdk-6-jre, python, cloud-server (= ${source:Version}), cloud-python (= ${source:Version}), python-mysqldb
Description: CloudStack client
 The CloudStack setup tools let you set up your Management Server and Usage Server.

Package: cloud-python
Architecture: any
Depends: python
Description: CloudStack Python library
 The CloudStack Python library contains a few Python modules that the
 CloudStack uses.

Package: cloud-agent
Architecture: any
Depends: openjdk-6-jre, cloud-core (= ${source:Version}), cloud-python (= ${source:Version}), cloud-scripts (= ${source:Version}), cloud-system-iso (= ${source:Version}), libvirt0, sysvinit-utils, chkconfig, qemu-kvm, libvirt-bin, uuid-runtime, rsync, grep, iproute, ebtables, vlan, liblog4j1.2-java (>= 1.2.16), libjna-java, wget, jsvc, lsb-base (>= 3.2)
Description: CloudStack agent
 The CloudStack agent is in charge of managing shared computing resources in
 a CloudStack powered cloud.  Install this package if this computer
 will participate in your cloud as a KVM HyperVisor.

Package: cloud-system-iso
Architecture: any
Description: CloudStack system iso
 The CloudStack agent is in charge of managing shared computing resources in
 a CloudStack powered cloud.  Install this package if this computer
 will participate in your cloud.

Package: cloud-usage
Architecture: any
Depends: openjdk-6-jre, cloud-core (= ${source:Version}), cloud-server (= ${source:Version}), cloud-setup (= ${source:Version}), cloud-client (= ${source:Version}), jsvc
Description: CloudStack usage monitor
 The CloudStack usage monitor provides usage accounting across the entire cloud for
 cloud operators to charge based on usage parameters.
